
{% extends "base.html" %}

{% block content %}
    <h1>Hello, {{ current_user.username }}!</h1>
    <form action = "" method = "post">
        <p>
            {{ form.hidden_tag }}<br>
            {% for error in form.post.errors %}
            <span style = "color:red;">
                [{{error}}]
            </span> 
            {% endfor %}
        </p>
        <p>
            {{form.submit()}}
        </p>
    </form>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {% if prev_url %}
        <a href="{{ prev_url }}">Newer Posts</a>
    {% endif %}
    {% if next_url %}
        <a href="{{ next_url }}">Older posts</a>
    {% endif %}
{% endblock %}


